.wrap { width: 100%; max-width: 1900px; } 

header { height: 100px; justify-content: center; line-height: 30px; display: flex; } 
.logo { width: 80%; } 

/* nav */
.gnb { width: 80%; display: flex; } 
.gnb a { width: 25%; display: block; text-align: center; padding: 2rem; } 

.content_box{display: flex;}
.slogan_box {width: 50%;  display: flex; flex-direction: column; height: 400px; text-align: center; justify-content: center; padding: 12rem 0;} 
.slogan_box p { font-size: 67px; line-height: 1.6; font-weight: 400; margin-bottom: 40px; } 

.slogan_box .light { font-size: 25px; } 
.slogan_box .general_btns { position: absolute; bottom: 37%; right: 69%; } 
.general_btns a:nth-child(1) { margin:0 30px; } 
.general_btns a { width: 100px; height: 40px; background: linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%
 ); color: #fff; border-radius: 10px; padding: 1rem; text-align: center; line-height: 40px; } 

/* about me */
main .about .inner { display: flex; height: 500px; } 
.about h2{width: 100%; margin:auto 35rem; font-size: 4.5rem;}
main .about1 { width: 50%; background: pink; } 
.about2 { width: 50%; display: flex; flex-wrap: wrap; justify-content: center; column-gap: 15rem;} 
.about2 div p{line-height: 1.2;}


.info_box {margin-bottom: 2rem;}
.career_box {margin-bottom: 4rem;}
