.wrap {width: 100%; } 

.inner {width: 100%;max-width: 1440px;margin: auto; } 

/* sideNav */
.sideNav {position: fixed;top: 10%;right: 10%;z-index: 999; } 

.sideNav a {display: inline-block;padding: 1em;background: rgba(0, 0, 0, 0.5);color: #fff;margin-bottom: 1em; } 

.sideNav li.on a::before {content: '🐱'; } 

/* header */
.bold {color: var(--text2);font-size: 5.5625rem;font-style: normal;font-weight: 800;line-height: 7.25rem; } 

.medium {color: var(--text2);font-size: 5.5625rem;font-style: normal;font-weight: 400;line-height: 7.25rem;/* 130.337% */}

.light {color: var(--text2);font-size: 1.75rem;font-style: normal;font-weight: 500;line-height: normal; } 

header {width: 100%; height: 100px;justify-content: space-between;line-height: 100px;display: flex;padding: 0 10rem;position: relative; } 

.logo {width: 50%;justify-content: center;align-items: center; } 

/* nav */
nav {width: 100%;position: absolute;z-index: 2;background: rgba(251, 248, 204, 0.5);padding: 1em 1.4em; left:0; top:0;} 

nav.sticky {background: rgba(255, 0, 100, 0.6);position: fixed;z-index: 222; left:0; top:0;} 

nav .gnb {display: flex;width: 100%;max-width: 1440px;margin: auto;text-align: center; } 

nav .gnb li {flex: 1 1 200px; } 

nav .gnb li a {color: #fff;display: inline-block;padding: 0.2rem;text-align: center;line-height: 2rem;height: 2rem;position: relative; } 

nav .gnb li a:before,
nav .gnb li a:after {position: absolute;content: '';left: 0;width: 100%;height: 2px;background: #000;transform: scaleX(0);transition: all 0.5s; } 

nav .gnb li a:before {top: 0;transform-origin: left; } 

.gnb li a:after {bottom: 0;transform-origin: right; } 

nav .gnb li.on a:before,
nav .gnb li a:hover:before,
nav .gnb li.on a:after,
nav .gnb li a:hover:after {transform: scaleX(1); } 

/* content */
.content_box1 {display: flex;justify-content: space-evenly;align-items: center; } 

.slogan_box {width: 100%;display: flex;flex-direction: column;height: 400px;text-align: left;align-items: flex-start;justify-content: center;padding: 10rem 0;gap: 0.6875rem; } 

.slogan_box p {margin-bottom: 40px; } 

.slogan_box .general_btns {display: flex; } 

.general_btns a:nth-child(1) {margin-right: 1.5rem; } 

.general_btns a:nth-child(2) {margin-right: 1.5rem; } 

.general_btns a {width: 10.25rem;height: 4.25rem;line-height: 4rem;flex-shrink: 0;border: 1px solid #474306;border-radius: 0.375rem;text-align: center;position: relative; } 

.general_btns a::before {content: '';width: 10.25rem;height: 4.25rem;line-height: 3rem;flex-shrink: 0;background: #F5EE84;border-radius: 0.375rem;position: absolute;top: 10%;right: 0;left: 6px;z-index: -1; } 

.main_img {width: 100%;justify-content: center;align-items: center;text-align: center;background: url(../img/bg.png) no-repeat; } 

.main_img img {width: 50%; } 

/* about me */
.content_box2 {box-sizing: border-box; } 

.content_box2 h2 {margin-bottom: 67px; } 

.resum_box {width: 100%;height: 400px;display: flex;gap: 50px;justify-content: space-between;text-align: left; } 

.resum_text {display: flex;padding: 0px 32px;flex-direction: column;align-items: flex-start;gap: 0.625rem;align-self: stretch;font-size: 1.5rem;font-style: normal;font-weight: 400;line-height: 49.875px;/* 207.813% */}

.resum_text h3 {position: relative; } 

.resum_text h3::before {content: '';width: 0.625rem;height: 0.625rem;background: var(--text2);position: absolute;top: 34%;right: 110%;border-radius: 50%; } 

.text_box2 {display: flex;flex-direction: row;justify-content: space-between;gap: 50px; } 

/* content_box3 */
/* projects */
.projects { position: relative; } 
.projects .container { position: relative; width: 100%; height: 100%; } 
.item { position: absolute; top: 0; height: 30vw; } 
.item.left { width: 60vw; transition: left 1s ease-in-out; left: -100%; } 
.item.right { width: 40vw; right: 0; background: var(--bg1); } 
.projects.is-animated .left { left: 0; } 

/* pip */
.left .mockup.pc{margin-left: clamp(5%, 100px, 10%); position: relative; width: 60%; height: 100%;}
.left .mockup img,
.left .mockup .mask { position: absolute; top: 0; left: 0; } 

/* pc */
.left .mockup.pc .mask{z-index: 3; width: 32.3vw; height: 61.8%; overflow: hidden; top: 6%; left: 5.2%;}
.left .mockup.pc img.screen{z-index: 1; width: 100%;}
.left .mockup.pc img.device{z-index: 2; width: 100%;}

/* mobile */
.left .mockup.mobile{z-index: 99; position: relative; top: -76%; left: 58%; width: 20%; height: 60%;}
.left .mockup.mobile .mask{z-index: 999; width: 10.5vw; height: 100%; overflow: hidden; top: 10.8%; left: 7%; border-radius: 16px 16px 0 0;}
.left .mockup.mobile img.screen{z-index: 3; width: 100%;}
.left .mockup.mobile img.device{z-index: 4; width: 100%;}

 .pst { width: 40%; } 
 .pst_sub { margin: 0 13rem; line-height: 70px; } 
 .pst_sub1 { border-bottom: 1px solid var(--text1); } 
 .pst ul { list-style: disc; } 
 .project_box .general_btns { display: flex; justify-content: center; } 
 .pst .h4 { font-size: 0.75rem; color: #535385; font-style: normal; font-weight: 900; line-height: normal; text-transform: uppercase; } 
 .pst h5 { font-size: 2rem; color: #535385; font-style: normal; font-weight: 700; line-height: normal; } 
 .item .general_btns { display: flex; justify-content: center; } 

/* skills */
.content_box4{height: 65vh;}
.charts { width: 80%; margin: 3rem auto; display: flex; justify-content: center; } 

.charts .chart { margin: 0 20px; position: relative; } 

.charts .chart h2 { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); margin: 0; } 

.charts .chart svg { width: 220px; height: 220px; } 

.charts .chart svg circle { fill: #efefef; stroke-width: 20; stroke: #ffc114; stroke-dasharray: 628; stroke-dashoffset: 628; /* animation: line 2s infinite; */
 transform: rotate(-90deg); transform-origin: 50% 50%; stroke-linecap: round; } 
 .charts .chart .skill_text{text-align: center;}

@keyframes line { 
 from { stroke-dashoffset: 628; } 

 to { stroke-dashoffset: 0; } 
 }

.charts .chart:nth-child(2) circle { stroke: #ff5248; } 

.charts .chart:nth-child(3) circle { stroke: #4860ff; } 

.charts .chart:nth-child(4) circle { stroke: #48ff48; } 

 
